@import '@scss/config';
@import '@scss/mixins';

._ {
  padding: 1em 0;
}

.caption {
  font-size: 1.7em;

  .size_sm & {
    font-size: 1.15em;
  }
}


.size_sm {
  padding: 0.5em 0;
}

.caption_text {
  display: inline-block;
  margin-right: 0.5em;
}

.content {
  display: none;
}

.chevron {
  transform: none;
  transition: transform .15s ease-in;
}

.is_active {
  .content {
    display: flex;
  }

  .chevron {
    transform: rotate(-180deg);
  }
}

.is_disabled {
  .caption {
    cursor: default;
  }

  .chevron {
    display: none;
  }
}
