VITE_BUILD_ENV=production
# VITE_BUILD_ENV=development
VITE_SCHEMES_URL=https://schemes.shop.test:3000
VITE_API_CONFIG_URL=https://shop.test:8081/api-v2/schemes/config
VITE_API_ELEMENTS_URL=https://shop.test:8081/api-v2/schemes/elements
VITE_AUTH_URL=https://shop.test:8081/profile/auth
