@import '@scss/config';
@import '@scss/mixins';

._ {

}

.text {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.controls {
  text-align: center;
}

.button {
  font-size: 1.1em !important;

  + .button {
    margin-left: 0.25em;
  }
}
