@import '@scss/config';
@import '@scss/mixins';

$icon-size: 1.8rem;

._ {
  display: flex;
  align-items: center;
}

.value {
  min-width: 4.5rem;
  font-size: $text-sm;
  line-height: $icon-size;
  text-align: center;
}

.button {
  @include size($icon-size);
  transition: opacity .25s ease;

  > svg > path {
    transition: fill .15s ease-in;
  }

  &.disabled {
    opacity: 0.25;
    cursor: default;
  }

  &:not(.disabled) {
    &:hover {
      > svg > path {
        fill: $medium-blue;
      }
    }
  }
}
