@import '@scss/config';
@import '@scss/mixins';

$dialog-size: 70rem;

._ {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.5rem;
  height: 3rem;
}

.active {
  @include position(relative, 5px);
}

.inactive {
  // ...
}
