@import '@scss/config';
@import '@scss/mixins';

._ {
  position: relative;
  display: flex;
  margin: 0.5em;
  max-height: calc(100% - 1em);
  min-height: calc(100% - 1em);
  overflow: hidden;
  border: 1px solid $light-gray;
  border-radius: $radius;

  * {
    pointer-events: none;
  }
}

.canvas {
  @include position(relative, -1px);
  transform: scale(0.75);
  transform-origin: 0 0;
}
