
@import '@scss/config';
@import '@scss/mixins';

._ {
  display: flex;
  position: relative;

  &::before, &::after {
    display: block;
    z-index: 10;
    width: $canvas-cell-width;
    padding: 0 0.35em;
    font-size: $text-xs;
  }

  &.even::before {
    content: attr(data-number);
  }

  &.odd::after {
    content: attr(data-number);
  }

  &::before {
    @include position(absolute, 0.2rem null null 0);
    transform: translateX(-100%);
    text-align: right;
  }

  &::after {
    @include position(absolute, 0.2rem 0);
    transform: translateX(100%);
  }
}
