@import '@scss/config';
@import '@scss/mixins';

._ {
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
    border: 2px dashed $light-gray;
    border-radius: $radius * 2;

    &:hover {
      border-color: $medium-blue;
    }

    &:focus {
      outline: none;
    }
  }
}

.img {
  @include size(100%);
  object-fit: cover;
}

.hint {
  font-size: $text-sm;
  text-align: center;
}
