@use 'sass:math';

@import '@scss/config';
@import '@scss/mixins';

$space-x: 2em;

._ {
  border-radius: $radius * 2;
  overflow: hidden;
}

.caption {
  padding: 0.75em $space-x;
}

.scheme {
  display: block;
  padding: 0.5em $space-x;
  color: $text-color;
  text-decoration: none;
  font-size: 0.9em;
  user-select: none;

  &.is_create {
    color: $medium-gray;
  }

  &:hover {
    background: $light-gray;
  }


  &.is_active {
    cursor: default;
    pointer-events: none;

    .scheme_name::before {
      transform: scale(1);
    }
  }
}

.scheme_name {
  display: block;
  position: relative;
  padding-left: 1.5em;
  line-height: 1.1;

  &::before {
    @include position(absolute, null null null 0);
    content: '•';
    display: inline-block;
    transform: scale(0);
    transition: transform 0.25s ease;
    border-radius: 50%;
    color: $medium-blue;
    font-size: 3rem;
    line-height: 1.3rem;
  }
}
