@import '@scss/config';
@import '@scss/mixins';

._ {
  text-align: center;

  p {
    font-weight: bold;
  }
}

.note {
  margin: 1em 0;
  font-size: 1.1em;
  color: $medium-gray;
}

.create {
  color: $dark-gray;
  margin-bottom: 1em;
  font-size: 1.2em;
}
