@import '@scss/config';
@import '@scss/mixins';

._ {
  display: flex;
  padding: .75em 0;

  &.is_required {
    .label::after {
      @include position(relative, -0.1em -0.1em);
      content: '*';
      display: inline-block;
      color: $medium-red;
      font-size: 0.85em;
    }
  }
}

.input {
  flex-grow: 10;
}
