@import '@scss/config';
@import '@scss/mixins';

._ {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  min-height: 100%;
  padding-top: 1em;
}

.no_auth {
  padding: 0 0 0.5em;
  font-size: $text-xs;
  text-align: center;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
  padding-left: 6.4rem;
}

.note {
  color: $dark-gray;
  font-size: $text-sm;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-grow: 10;
}

.tools {
  margin-right: $toolbar-offset;
}

.loops {
  margin-bottom: $toolbar-offset;
}

.content {
  flex-grow: 10;
  max-width: calc(100% - 70px);
}

.legends {
  padding-top: 1.5em;
}

.download {
  display: flex;
}
