@import '@scss/mixins';

._ {
  @include position(absolute, 0 0 0 0, 100);
  background: rgba(white, 0.5);

  &.is_dark {
    background: rgba(black, 0.35);
  }

  &.is_transparent {
    background: transparent;
  }
}

