@import '@scss/config';

._ {
  position: absolute;
  padding: 0.75em;
  background: white;
  font-size: $text-sm;
  line-height: 1.2;
  border-radius: $radius;
  box-shadow: 0px 1px 4px rgba(black, 0.25);
  z-index: 10;
}

.caption {
  font-weight: 600;
}

.content {
  margin-top: 0.75em;
}
