@import '@scss/config';
@import '@scss/mixins';

._ {
  position: relative;
  min-width: $canvas-cell-width;
  height: $canvas-cell-height;
  min-height: $canvas-cell-height;
  border: solid $light-gray;
  border-width: 1px 1px 0 0;
  text-align: center;
  user-select: none;

  &:not(.no_highlight)::after {
    @include position(absolute, 0 0 0 0, 10);
    content: '';
    display: flex;
    transition: all 0.35s ease;
    border: 1px solid transparent;
    background: transparent;
  }

  &::before {
    @include position(absolute, 0 0 0 0, 10);
    content: '';
    display: flex;
    border: 1px solid transparent;
    background: transparent;
  }

  &.is_hover::after,
  &:hover::after {
    border-color: $medium-blue;
    background: rgba($medium-blue, .15);
  }
}

.loop {
  @include position(absolute, 50% 50%);
  @include size($canvas-cell-width $canvas-cell-height);
  transform: translate(50%, -50%);
}

.is_selected {
  &::before {
    border-color: $medium-gray;
    background: rgba(white, .5);
  }
}

.is_dark_bg {
  svg * {
    fill: white;
  }
}

.stretch {
  // ...
}

.report_icon {
  @include size(80%);
  @include position(absolute, 50% 50%);
  transform: translate(50%, -50%);
}
