@import '@scss/config';
@import '@scss/mixins';

._ {
  max-width: 100%;
}

.number {
  max-width: $canvas-cell-width - 0.2rem;
  margin: 0.1rem;
  border: 1px solid $light-gray;
  border-radius: $radius;
  line-height: $canvas-cell-height - 0.4rem;
  text-align: center;
}
