@import '@scss/config';
@import '@scss/mixins';

._ {
  max-width: 44rem;
  padding: 1em 2em;
  border: 1px solid $light-gray;
  border-radius: 5px;
}

.caption {
  margin-bottom: 1em;
  text-align: center;
}

.label {
  min-width: 15rem;
  padding-right: 1em;
  user-select: none;
}

.number {
  max-width: 10rem;
  user-select: none;
}

.checkbox {
  max-width: none;
  color: $medium-gray;
  font-size: 0.9em;
}

.submit {
  margin-top: 1em;
  text-align: center;
}

.to_check {
  display: inline-flex;
  position: relative;
}

.error_msg {
  @include position(absolute, .7em -2.5rem);
  padding: .5em 1em;
  transform: translateX(100%);
  transition: all .15s ease;
  border-radius: $radius;
  opacity: 0;
  background: $medium-red;
  color: $body-bg;
  font-size: $text-sm;
  white-space: nowrap;
  pointer-events: none;

  &.visible {
    right: -1.5rem;
    opacity: 1;
  }

  &::before {
    @include size(10px);
    @include position(absolute, 10px null null -5px);
    content: '';
    transform: rotate(45deg);
    background: $medium-red;
  }
}
