@import '@scss/config';
@import '@scss/mixins';

._ {
  display: flex;
  flex-direction: column;
}

.button {
  @include size($tool-button-size 2.5rem);
  margin: $tool-button-offset;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;

  &.is_active {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }
}
