._ {
  flex-grow: 10;
  padding: 2em 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5em;
}

.scheme {
  margin: 0.5em 0.3em;
}

.pager {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
