@import '@scss/config';
@import '@scss/mixins';

._ {
  border-collapse: collapse;
  transition: border-color 0.15s ease-in;
  border: 1px solid $light-gray;
  cursor: pointer;

  &:hover {
    border-color: $medium-blue;
  }
}

.cell {
  border: 0;

  + .cell {
    border-left: 1px solid $light-gray;
  }
}

.is_active {
  border-color: $medium-red !important;
  cursor: default;
}
