@use 'sass:math';
@use 'sass:list';

@mixin size($size) {
  @if type-of($size) == number {
    width: $size;
    height: $size;
  }

  @if type-of($size) == list {
    width: list.nth($size, 1);
    height: list.nth($size, 2);
  }
}

@mixin position($position, $values: null, $z-index: null) {
  $sides: top, right, bottom, left;

  @if $position {
    position: $position;
  }

  @if $z-index {
    z-index: $z-index;
  }

  @for $j from 1 through length($values) {
    #{nth($sides, $j)}: list.nth($values, $j);
  }
}

@function get-persent-of-size($sz, $persent: 100) {
  @return (math.div($sz, 100) * $persent);
}
