@import '@scss/config';
@import '@scss/mixins';

._ {
  position: relative;
  display: table;
  border-collapse: collapse;
  background: $body-bg;
}

.canvas {
  padding: 0.5em;
  margin: 0 .5em .5em 0;
  border: 1px solid $dark-gray;
  border-radius: $radius;
  transition: border-color .15s ease-in;
  cursor: pointer;

  &:hover {
    border-color: $medium-blue;
  }
}

.delete {
  @include size(10px);
  @include position(absolute, -5px null null -4px);
  display: flex;
  background: $body-bg;
}

.is_active {
  .canvas {
    border-color: $medium-red !important;
    cursor: default !important;
  }
}

.cell {
  pointer-events: none;
}

.row {
  border-left: 1px solid $light-gray;

  &:last-child {
    border-bottom: 1px solid $light-gray;
  }
}
