@import '@scss/config';
@import '@scss/mixins';

$panel-size: 2.8rem;

._ {
  position: relative;
  height: 62rem;
  overflow: hidden;
  border: 1px solid lighten($dark-gray, 20%);
  border-radius: $radius;
}

.bottom {
  @include size(100% $panel-size);
  @include position(absolute, null 0 0, 20);
  padding: 0.3em;
  background: $snow-gray;
}
