@import '@scss/config';
@import '@scss/mixins';

._ {
  // ...
}

.header {
  text-align: center;
}

.caption {
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: bold;
}

.label {
  min-width: 16rem;
}

.submit {
  text-align: center;
}
